#main-page {
    margin: 300px 00 300px 20px;

}

#main-page h1 {
    padding-bottom: 20px;
}

#wraper {
    width: 100%;
    justify-items: center;
    height: 1250px;
}

#btn_back {
    width: 300px;
    height: 42px;
    align-items: center;
    display: flex;
    justify-items: center;

}

#btn_back a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-items: center;

}

#btn_back a:hover {
    color: #ea7225;
    margin-left: -10px;
}