@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#footer {
    display: flex;
    background-color: #161324;
    color: #fff;
    padding-top: 50px;
}

#categories_item li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    transition: 0.3s ease;
    white-space: nowrap;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#catrgories_item li {
    list-style: none;
    padding: 0 20px;
    position: relative;

}

#col-inner1 {
    margin-left: 10px;
    padding-right: 100px;
}

#col-inner2 {
    padding: 0 100px;

}

#col-inner3 {
    padding: 0 50px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

#menulink {
    padding-bottom: 10px;
}


#menulink li a:hover {

    color: #ea7225;
}