/*   */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;

}

#header {
    width: 100%;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    height: 150px;
    position: fixed;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
    white-space: nowrap;
}
#navbar li a:hover,
#navbar li a.active {
    color: black; /* Màu chữ cam (thống nhất với gạch chân) */
    font-weight: 700; /* Làm chữ in đậm */
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 70%;
    height: 3px;
    background: #ea7225; 
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.logo {
    width: 100px;
    height: 100px;
}


#search {
    width: 180px;
    padding: 3px 5px;
}

