@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --page-bg: #ffffff;
}

body {
    background-color: var(--page-bg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

li {
    list-style: none;
    padding-left: 0;
    white-space: normal;
}

img {
    border-radius: 5px;
    margin: 10px;
    max-width: 100%;
    height: auto;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#main_page {
    width: 100%;
    height: 600px;
    margin: 0;
    object-fit: cover;
}

#about_we {
    width: 100%;
    padding: 30px 20px;
}

#about_we h2 {
    text-align: center;
    font-size: clamp(2em, 5vw, 2.5em);
    margin-bottom: 30px;
    color: #333;
    margin-top: 0;
}

#main_about {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#text_about {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
}

#main_about p {
    text-align: justify;
    line-height: 1.6;
}

#main_about img {
    width: clamp(300px, 45vw, 500px);
    height: auto;
    margin: 0;
    border-radius: 10px;
}

#outstanding_product {
    margin: 10px 0 10px 0;
    background-color: #F6F6F6;
    padding: 50px 20px;
    justify-content: center;
    width: 100%;
}

#outstanding_product h2 {
    text-align: center;
    font-size: clamp(2em, 5vw, 2.5em);
    margin-bottom: 10px;
    color: #333;
}

#outstanding_product p {
    text-align: center;
    color: #333;
    margin-bottom: 50px;
}

#main-product {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

#col-main-product {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    max-width: 550px;
    padding: 10px;
}

#col-main-product img:first-child {
    width: 200px;
    height: 250px;
    margin: 10px;
    flex-shrink: 0;
    border-radius: 10px;
}

#box_text {
    padding-left: 10px;
    margin-top: 10px;
}

#box_text li {
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0;
}

#box_text p {
    font-size: 16px;
    padding: 0 10px 0 0;
    text-align: left;
}

#col-demo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#col-demo img {
    width: 180px;
    height: 90px;
    display: block;
    margin: 5px 0;
}

#archive {
    background-color: #F6F6F6;
    padding: 50px 20px;
}

#main-archive {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

#col-inner {
    margin: 15px;
    height: 322px;
    width: 320px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.item-center {
    margin: 30px;
    text-align: center;
}

#col-inner img {
    width: 150px;
    height: 100px;
}


#section-hoatdong {
    padding: 50px 20px;
    width: 100%;
}

#section-hoatdong h2 {
    text-align: center;
    font-size: clamp(2em, 5vw, 2.5em);
    margin-bottom: 40px;
}

#section-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#col-inner-hoatdong {
    margin: 10px;
    width: clamp(300px, 30vw, 367px);
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#col-inner-hoatdong img {
    width: 100%;
    height: 180px;
    margin: 0;
    border-radius: 0;
    object-fit: cover;
}

#text-hoatdong {
    padding: 15px;
}

#text-hoatdong h2 {
    font-size: 1.5em;
    padding: 10px 0;
    margin: 0;
    text-align: left;
}

#text-hoatdong p {
    margin: 5px 0;
}


@media only screen and (max-width: 1024px) {
    body {
        padding: 0;
    }

    #about_we,
    #outstanding_product,
    #section-hoatdong {
        padding: 40px 30px;
    }

    #main_about {
        flex-direction: column;
        text-align: center;
    }

    #main_about img {
        width: 100%;
        max-width: 500px;
        margin: 20px auto;
    }

    #text_about {
        min-width: unset;
        max-width: 100%;
        padding: 0 10px;
    }

    #main_about p {
        text-align: left;
    }

    #main-product {
        gap: 20px;
    }

    #col-main-product {
        max-width: 100%;
        padding: 15px;
    }

    #col-demo {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    #col-demo img {
        width: 150px;
        height: 80px;
        margin: 5px;
    }

    #col-inner-hoatdong {
        width: 45%;
        min-width: 300px;
    }
}


@media only screen and (max-width: 768px) {

    #about_we,
    #outstanding_product,
    #section-hoatdong {
        padding: 30px 15px;
    }

    h2 {
        font-size: 1.8em !important;
    }

    #main_page {
        height: 300px;
    }

    #main_about img {
        max-width: 100%;
    }

    #col-main-product {
        flex-direction: column;
        text-align: center;
    }

    #col-main-product img:first-child {
        margin-bottom: 0;
    }

    #box_text {
        padding-left: 0;
    }

    #box_text p {
        text-align: center;
        padding-top: 5px;
    }

    #col-demo img {
        width: 100px;
        height: 60px;
        margin: 5px 2px;
    }

    #col-inner-hoatdong {
        width: 100%;
        margin: 10px 0;
    }
}