#main_page {
    width: 100%;
    margin: 0;
    height: 700px;
}

body {
    background-color: #e6e6e6;
}

#section-lienhe {
    height: 700px;
}

#lienlac h2 {
    font-size: 40px;
    text-align: center;
    align-items: center;
    padding: 50px 0 50px 0;
}

#section-content {
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 1000px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}


#hoten-email input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 0.2px solid;
    margin-left: 5px;
}

#noidung {
    min-width: 506px;
    min-height: 120px;
    border-radius: 5px;
}

#hoten-email {
    padding-bottom: 40px;
}

#section-form {
    justify-items: center;
}

button {
    margin-top: 50px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 0.3px solid #ea7225;
    background-color: white;
    color: #ea7225;
    font-weight: 600;

}

button:hover {
    background-color: #ea7225;
    color: white;
    cursor: pointer;
}

#content-maps {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
}

#main-content {

    justify-items: center;
}

#text-content {
    height: 100px;
    background-color: #fff;
    padding-right: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}