.slider-wrapper {
    position: relative;
    width: 500px;
    height: 600px;
    background-color: #ffc107;
    margin: 200px 0 200px 0;
}

.slider-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    opacity: 0;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide.active {
    left: 0;
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-controls {
    position: absolute;
    bottom: 20px;
    left: 20px;
}